# .
build/
devel/
thirdparties/
*.bag
.vscode/

# ./src/slam/
src/slam/orb_slam3_ros/
# ./src/camera/
src/camera/realsense_ros/
# ./src/perception/
src/perception/grounded_sam2/
src/perception/paddlex/
src/perception/grounding_sam_ros/
